<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="traceID" converterClass="kamon.logback.LogbackTraceIDConverter" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%X{akkaTimestamp} | %-5level | %X{akkaSource} | %traceID | %c{0} -> %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.apache.cassandra" level="ERROR" />
    <logger name="com.datastax.driver" level="WARN" />
    <logger name="akka" level="WARN" />
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
