[mysqld]
# 重写sql_mode为了把Mysql5以上版本默认的"ONLY_FULL_GROUP_BY"覆盖，支持在group by时select多个字段
# TODO du: 生产上线时要执行以下sql
# SET @@sql_mode=(SELECT REPLACE(@@sql_mode,'ONLY_FULL_GROUP_BY',''));
# SELECT @@sql_mode ;
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION