<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="io.lightcone.actors.utils.LogFilter" />
        <target>System.out</target>
        <encoder>
            <pattern>%X{akkaTimestamp} %-5level %X{akkaSource}[%logger{0}] >>>> %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="io.lightcone.actors.utils.LogFilter" />
        <File>log/lightcone.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>log/lightcone_%i.log.bak</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>100</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder charset="UTF-8">
            <pattern>%date{yyyy-MM-dd} %X{akkaTimestamp} %-5level[%-45thread] %-60X{akkaSource}[%-45logger{1}] - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ERROR-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="io.lightcone.actors.utils.LogFilter" />
        <File>log/lightcone_error.log</File>
        <level>error</level>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>log/lightcone_error_%i.log.bak</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>100</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder charset="UTF-8">
            <pattern>%date{yyyy-MM-dd} %X{akkaTimestamp} %-5level[%-45thread] %-60X{akkaSource}[%-45logger{1}] - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="akka" level="INFO" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="ERROR-FILE" />
        <!-- <appender-ref ref="FILE-BACKUP"/> -->
    </root>
</configuration>